<html lang="pt_br"></html>




<head>
   <title>tentando ficar rico igual o rugal</title> 
   <link rel="backimage" href="/images/favicon.png" types="image/png">
   <meta name="viewport" content="width=device-width, initial scale=100">
   <meta name="theme-color" content="#8257E5">
  

 
   <link rel="stylesheet" href="/Styles/partials/success.css">
   

   <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>

<body id="page-landing">

   <script>
      
      setTimeout(function() {
      
      window.location.href="/study" + queryString
      
      }, 4000);
      </script>


   <div id="container">

    

      <div class="logo-container">
    
            <img class="success-image" src="/images/icons/success-check-icon.svg" alt="success">
            
            
            <h1 class="words">Cadastro salvo!</h1>
            

            <p class="joined">
                Tudo certo, seu cadastro está na nossa lista de professores,
                 agora é só ficar de olho no seu Whatsapp
               </p>
            
             

      </div>
      <img class="back-image" src="/images/success-background.svg" alt="back-image">
      <a href="/study">
        <img src="" alt="">Acessar lista de professores
      </a>
      
      
   </div>
    



</body>